@import url('https://fonts.googleapis.com/css?family=Playfair%20Display:700|Playfair%20Display:400');

/*-------------------------------

    RESETEO DE PROPIEDADES DEL CSS

-------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------------------

    ELEMENTOS DEL BODY

-------------------------------*/

html,body{
    height: 100%;
}

body {
  font-family: 'Playfair Display';
  font-weight: 600;
}

hr{
    border: 2px solid #638889 !important; 
    opacity: 1 !important;
}


/*-------------------------------

    TAMAÑOS DE FUENTE

-------------------------------*/

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display';
  font-weight: 700;
}

p { font-family: 'Playfair Display';}

html {
    font-size: 100%; /* 16px */
} 

h1 {
    font-size: 4.210rem; /* 67.36px */
}

h2 {
    font-size: 3.158rem; /* 50.56px */
}

h3 {
    font-size: 2.369rem; /* 37.92px */
}

h4 {
    font-size: 1.777rem; /* 28.48px */
}

h5 {
    font-size: 1.333rem; /* 21.28px */
}

small {
    font-size: 0.750rem; /* 12px */
}


/*-------------------------------

    COLORES

-------------------------------*/

.primary{
   background-color: #9DBC98; 
}

.secondary{
    background-color: #638889;
    color: white;
}

.accent{
    background-color: #113946;
    color: white;
}

/*-------------------------------

    MENU

-------------------------------*/

.menu {
    background-color: #F9EFDB !important;
    border-bottom-left-radius: 50px; 
    border-bottom-right-radius: 50px;
    border-bottom: 4px solid #638889;
    border-left: 4px solid #638889;
    border-right: 4px solid #638889;
    position: relative; 
}

.barra-busqueda {
    border-bottom: 2px solid #638889;
    width: 100%; 
    max-width: 400px; 
}

.custom-color {
    background-color: #638889;
}

.bi-search {
    color: #638889;
}

.iconos-menu {
    color: #638889 !important;
    font-size: 2rem !important;
}

.dropdown-item.active {
    background-color: #638889;
    color: #fff;
}


/*-------------------------------

    INDEX

-------------------------------*/

.custom-rounded{
    border-radius: 50px;
}

.secciones{
    background-color: #F9EFDB !important;
}

.carousel-inner {
    width: 100%;
}

.carousel-item img {
    margin: 0 auto;
}

.portada_index{
    max-width: 200px;
}

.progress{
    height: 20px;
}

.boton-actualizar, .boton-leer{
    width: 100%;
    height: 150%;
    background: #638889;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.separador_libros_leyendo{
    border: 2px solid #638889;
    width: 120%;
}

.enlace_index a,
.enlace_index a:link,
.enlace_index a:visited {
    color: inherit;         
    outline: none;   
    text-decoration: none;
}

.enlace_index a:hover, 
.enlace_index a:active, 
.enlace_index a:focus {
    text-decoration: underline;  
    color: inherit;         
    outline: none;          
}

/* Custom styles for the carousel */
.carousel-item {
    background-color: transparent;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}
.carousel {
    background-color: transparent;
}
.carousel-control-prev,
.carousel-control-next {
    transition: none; /* Elimina la transición para una respuesta más rápida */
    outline: none;    /* Elimina el borde del enfoque */
    background-color: transparent; /* Quita el fondo */
}

/*-------------------------------

    BUSQUEDA

-------------------------------*/

.busqueda{
    /* display: flex;
    justify-content: center; */
    background-color: #F9EFDB !important;
}

.ver_detalles_libro{
    width: 30%;
    height: 45px;
    background: #638889;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.resultado {
    margin-bottom: 20px; 
}

.titulo {
    font-size: 18px;
    font-weight: bold; 
}

.autores {
    font-style: italic;
}

.separador{
    border: 2px solid #638889 !important;
}


/*-------------------------------

    PERFIL USUARIO

-------------------------------*/

.foto_perfil_usuario{
    max-width: 50%;
    height: auto;
}

.separador_perfil_usuario{
    border: 2px solid #638889;
}

/*-------------------------------

    DETALLES LIBRO

-------------------------------*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #638889;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 190%;
}

.dropbtn:after {
    content: ' \25BC';
    font-size: 0.6em;
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.sagas a, .autores a {
    text-decoration: none;  
    color: inherit;         
}

.sagas a:hover, a:active, a:focus , .autores a:hover, a:active, a:focus {
    text-decoration: underline;  
    color: inherit;         
    outline: none;          
}



/*-------------------------------

    DETALLES AUTOR

-------------------------------*/

.separador_detalles_autor{
    border: 2px solid #638889;
}

.detalles_autor h5{
    font-size:  1.5rem; 
}

.detalles_autor p{
    text-align: justify;
}

.fila_libros_autor{
    height: 30vh;
}

.fila_libro_autor .col {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fila_libro_autor img {
    max-height: 100%;
    object-fit: cover; /* Opcional: Para mantener el aspecto de las imágenes */
}

/*-------------------------------

    TIMER

-------------------------------*/

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* progress indicator */

.circle-container{
    width: 400px;
    height: 400px;
    background-color: #EBD9B4;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 0px 50px rgb(157, 188, 152, 1);
}

.semicircle{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}

.semicircle:nth-child(1){
    background-color: rgb(99, 136, 137);
    z-index: 2;
}

.semicircle:nth-child(2){
    background-color: rgb(99, 136, 137);
    z-index: 3;
}

.semicircle:nth-child(3){
    background-color: #EBD9B4;
    z-index: 4;
}

.outermost-circle{
    width: 390px;
    height: 390px;
    background-color: #F9EFDB;
    border-radius: 50%;
    z-index: 5;
}

/* timer */

.timer-container{
    width: 330px;
    height: 200px;
    z-index: 6;
}

.timer{
    width: 400px;
    height: 100px;
    z-index: 7;
    font-family: 'Playfair Display';
    color: #638889;
}

.timer div{
    font-size: 70px;
    font-weight: 100;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.timer .colon{
    background-color: transparent;
    width: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 15px;
}

/* buttons */

.button-container{
    margin-top: 50px;
    z-index: 8;
}

.button-container .btn{
    margin: 0 10px;
    font-size: 30px;
}
