{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="m-5 px-5 row">
        <div class="col-3">
            <img id="foto_autor" src="{{ autor.foto_autor.url }}" alt="Portada de {{ autor.nombre }}" style="width: 70%;">
        </div>
        <div class="col detalles_autor ">
            <div class="row">
                <h1 class="display-4">{{autor.nombre_autor}}&nbsp;{{autor.apellido_autor}}</h1>
            </div>
            <div class="row">
                <h5> {{autor.fecha_nacimiento}}
                    {% if autor.fecha_defuncion %}
                        - {{autor.fecha_defuncion}}
                    {% endif %}
                </h5>
            </div>
            <div class="row">
                <p class="pt-3">{{autor.biografia}}</p>
            </div>
            <div class="row">
                <h5><strong>Género:&nbsp;</strong>
                    {% for genero in generos %}
                        {{ genero.nombre }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </h5>
            </div>
            {% if cita %}
            <div class="row py-2 justify-content-center">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p>{{cita.contenido}}</p>
                        <footer class="blockquote-footer"><cite title="Source Title">{{autor.nombre_autor}}&nbsp;{{autor.apellido_autor}}</cite></footer>
                      </blockquote>
                    </div>
                  </div>
            </div>
            {% endif %}
        </div>
    </div>
    <hr class="px-5 mx-5 separador_detalles_autor">
    <div class="px-5 mx-5 row">
        <div class="col">
            <div class="row fila_libro_autor vh-30">
                {% for libro in libros %}
                <div class="col-4 col-md-2 mb-4 d-flex justify-content-center">
                    <a href="{% url 'ver_detalles_libro' libro.id_libro %}">
                        <img id="portada" class="img-fluid img-thumbnail" src="{{ libro.portada.url }}" alt="Portada de {{ libro.titulo }}" style="max-height: 300px; object-fit: cover;">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> 
</div>


{% endblock %}