{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block content %}
<div class="container-fluid h-100 d-flex flex-column">
    <div class="row flex-grow-1 py-5 pl-5 mx-5">
        <div class="col-md-8">
            <div class="row datos-usuario align-content-center justify-content-center">
                <div class="col-3 d-flex  ">
                    {% if usuario.foto_perfil %}
                        <img src="{{ usuario.foto_perfil.url }}" class=" rounded-circle" style="max-height: 200px;" alt="Avatar" />
                    {% else %}
                        <img src="{% static 'img/foto_perfil_vacia/foto_perfil_vacia.webp' %}" class=" img-thumbnail rounded-circle" style="max-height: 200px;" alt="Avatar" />
                    {% endif %}
                </div>
                <div class="col-9">
                    <div class="d-flex align-items-center">
                        <h1><strong>{{ usuario.nombre_usuario }}</strong></h1>
                        {% if usuario != request.user.usuario %}
                            <form method="POST" class="ms-3">
                                {% csrf_token %}
                                {% if usuario in request.user.usuario.sigue_a.all %}
                                    <button class="boton_dejar_seguir" name="follow" value="unfollow" type="submit">Dejar de seguir <i class="bi bi-person-dash"></i></button>
                                {% else %}
                                    <button class="boton_seguir" name="follow" value="follow" type="submit">Seguir <i class="bi bi-person-add"></i></button>
                                {% endif %}
                            </form>
                        {% endif %}
                    </div>
                    <p>{{ usuario.biografia }}</p>
                    <h5><strong>Se unió en: </strong>{{ usuario.fecha_creacion }}</h5>
                    <h5><strong>Es de: </strong>{{ usuario.ciudad }}</h5>
                </div>
            </div>
            <hr class="separador_perfil_usuario">
            <div class="row">
                <div class="col">
                    <h2>Los libros favoritos de {{usuario.nombre_usuario}}</h2>
                    {% if libros_fav %}
                        <div class="row">
                            {% for libro in libros_fav %}
                                <div class="col-auto mb-2">
                                    <a href="{% url 'ver_detalles_libro' libro.id_libro %}">
                                        <img id="portada" class="img-fluid img-thumbnail" src="{{ libro.portada.url }}" alt="Portada de {{ libro.titulo }}" style="max-height: 150px; object-fit: cover;">
                                    </a>
                                </div>                    
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>{{usuario.nombre_usuario}} todavía no ha calificado con 5 estrellas ningún libro.</p>
                    {% endif %}
                </div>
            </div>
            <hr class="separador_perfil_usuario">
            <div class="row">
                <div class="col">
                    <h3>{{usuario.nombre_usuario}} está leyendo...</h3>
                    <div class="row">
                        {% for libro, porcentaje in libros_y_porcentajes %}
                            <div class="col col-md-4 col-lg-3 mb-4 book-container">
                                <div class="card custom-card">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img src="{{ libro.id_libro.portada.url }}" alt="Portada de {{ libro.id_libro.titulo }}" class="img-fluid book-image" style="max-width: 200px;">
                                    </div>
                                    <div class="card-body d-flex flex-column justify-content-center book-info">
                                        <h3 class="enlace_index"><a href="{% url 'ver_detalles_libro' libro.id_libro.id_libro %}">{{ libro.id_libro.titulo }}</a></h3>
                                        <p class="lead enlace_index">
                                            {% for autor in libro.id_libro.id_autor.all %}
                                                <a href="{% url 'ver_detalles_autor' autor.id_autor %}" class="enlace_index">{{ autor.nombre_autor }} {{ autor.apellido_autor }}</a>{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            - {{ libro.id_libro.fecha_publicacion }}
                                        </p>
                                        <div class="progress m-3" style="width: 100%;">
                                            <div class="progress-bar" role="progressbar" style="width: {{ porcentaje }}%;" aria-valuenow="{{ porcentaje }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="text-center">
                                            <p class="lead">{{ libro.paginas_leidas }} / {{ libro.id_libro.n_paginas }} - {{ porcentaje|floatformat:2 }}%</p>
                                        </div>
                                        {% if usuario == request.user.usuario %}
                                            <div class="d-flex justify-content-center">
                                                <button class="mt-2 boton-actualizar" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id-estado-libro="{{ libro.id_estado_libro }}" data-max-paginas="{{ libro.id_libro.n_paginas }}" data-paginas-leidas="{{ libro.paginas_leidas }}">Actualizar</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row d-flex">
                <div class="col d-flex flex-column justify-content-center align-items-center">
                    <div class="custom-rounded my-3 py-5 secciones" style="width: 100%;">
                        <h5 class="card-title text-center">Medallas</h5>
                        <div class="row pt-3">
                            <hr style="width: 80%; margin: 0 auto" class="d-flex">
                            {% for categoria, tier in medallas_dict.items %}
                                <div class="col-4 text-center mb-3 pt-1">
                                    <div class="medalla">
                                        {% if tier == 'x' %}
                                            <h5>X</h5>
                                        {% else %}
                                            {% for medalla in todas_medallas %}
                                                {% if medalla.categoria == categoria and medalla.tier == tier %}
                                                    <img src="{{ medalla.imagen.url }}" alt="{{ tier }}" style="max-width: 75px;" data-toggle="modal" data-bs-target="#modal{{ medalla.id_medalla }}">
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="text-center mt-3">
                            <a href="{% url 'estadisticas' %}" style="width: 70%;"><button class="boton-leer" style="width:80%;">Estadisticas</button></a>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="row d-flex" >
                <div class="col d-flex justify-content-center align-items-center">
                    {% if objetivo_lectura %}
                        <div class="custom-rounded p-3">
                            <h4>El objetivo de lectura de {{usuario.nombre_usuario}} para este año es:</h4>
                            <div class="progress my-3" style="width: 100%;">
                                <div class="progress-bar" role="progressbar" style="width: {{ porcentaje_objetivo }}%;" aria-valuenow="{{ objetivo_lectura.estado_actual }}" aria-valuemin="0" aria-valuemax="{{ objetivo_lectura.meta_libros }}">
                                </div>
                            </div>
                            <div class="text-center">
                                <p class="lead">{{ objetivo_lectura.estado_actual }} / {{ objetivo_lectura.meta_libros }}</p>
                            </div>
                        </div>
                    {% else %}
                        {% if usuario == request.user.usuario %}
                            <button type="button" class="mt-2 boton_reto" style="width: 75%;" data-bs-toggle="modal" data-bs-target="#fijarObjetivoModal">
                                <i class="bi bi-plus-lg"></i> Fijar objetivo de lectura
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- Modal actualizar paginas -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Por qué página vas?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="modal-body">
                <input type="number" class="form-control" placeholder="Número de página" min="1" id="pageNumberInput">
            </div>
            <div class="modal-footer">
                <button type="button" class="boton-modal" id="saveChangesBtn">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal fijar reto lectura -->
<div class="modal fade" id="fijarObjetivoModal" tabindex="-1" aria-labelledby="fijarObjetivoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fijarObjetivoModalLabel">Fijar objetivo de lectura para 2024</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="objetivoLecturaForm">
                    <div class="mb-3">
                        <label for="metaLibros" class="form-label">¿Cuántos libros quieres leer este año?</label>
                        <input type="number" class="form-control" id="metaLibros" name="meta_libros" min="1" required>
                    </div>
                    <button type="submit" class="boton-modal">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const pageNumberInput = document.getElementById('pageNumberInput');
        const saveChangesBtn = document.getElementById('saveChangesBtn');
        let currentEstadoLibroId = null;
        let maxPaginas = 0;
        let paginasLeidas = 0;

        // Permite solo números en el input
        pageNumberInput.addEventListener('keypress', function(event) {
            if (!/^\d*$/.test(event.key)) {
                event.preventDefault();
            }
        });

        // Controla que no se pueda pegar nada
        pageNumberInput.addEventListener('paste', function(event) {
            const pasteData = event.clipboardData.getData('text');
            if (!/^\d*$/.test(pasteData)) {
                event.preventDefault();
            }
        });

        // Captura el estado_libro que vamos a actualizar
        document.querySelectorAll('.boton-actualizar').forEach(button => {
            button.addEventListener('click', function() {
                currentEstadoLibroId = this.getAttribute('data-id-estado-libro');
                maxPaginas = parseInt(this.getAttribute('data-max-paginas'), 10);
                paginasLeidas = parseInt(this.getAttribute('data-paginas-leidas'), 10);
                pageNumberInput.setAttribute('max', maxPaginas);
                pageNumberInput.setAttribute('placeholder', `${paginasLeidas} / ${maxPaginas}`);
            });
        });

        // Guarda los cambios en el servidor
        saveChangesBtn.addEventListener('click', function() {
            const pageNumber = pageNumberInput.value;
            if (pageNumber && currentEstadoLibroId) {
                if (pageNumber > maxPaginas) {
                    alert(`El número de páginas no puede ser mayor que ${maxPaginas}.`);
                    return;
                }
                $.ajax({
                    url: "{% url 'actualizar_paginas' %}",
                    type: "POST",
                    data: {
                        id_estado_libro: currentEstadoLibroId,
                        paginas_leidas: pageNumber,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            location.reload(); // Recargar la página para mostrar los cambios
                        } else {
                            console.error("Error", response.error);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            }
        });

        document.getElementById('objetivoLecturaForm').addEventListener('submit', function(event) {
            event.preventDefault(); 

            const meta_libros = document.getElementById('metaLibros').value;

            $.ajax({
                    url: "{% url 'crear_objetivo_lectura' %}",
                    type: "POST",
                    data: {
                        meta_libros: meta_libros,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            location.reload(); 
                        } else {
                            console.error("Error", response.error);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
        
        });
    });
</script>

{% endblock %}
