{% extends 'base/base.html' %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block content %}

<div class="container busqueda">
    <div class="row">
        <div class="col-12 col-md-12 pt-5 d-flex justify-content-center">
                <div class="row d-flex align-items-end">
                    <h1>{{libreria.titulo}} 
                        {% if libreria.n_libros_estanteria == 0 %}
                        
                        {% elif libreria.n_libros_estanteria == 1 %}
                            - {{libreria.n_libros_estanteria}} libro
                        {% else %}
                            - {{libreria.n_libros_estanteria}} libros
                        {% endif %}
                    </h1>
                </div>
        </div>
    </div>
    <div class="row justify-content-start px-5 w-100">
        <div class="col-12 justify-content-center w-100 no-margin">
            {% if libros%}
                {% for libro in libros %}
                    <div class="resultado">
                        <hr class="separador">
                        <div class="row">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="{{ libro.portada.url }}" alt="Portada de {{ libro.titulo }}" style="width: 100px;">
                            </div>
                            <div class="col-9">
                                <p class="titulo">{{ libro.titulo }}</p>
                                <p>
                                    <span class="autores">
                                        de 
                                        {% for autor in libro.id_autor.all %}
                                            <a href="{% url 'ver_detalles_autor' autor.id_autor %}">
                                            {{ autor.nombre_autor }} 
                                            {% if autor.apellido_autor %}
                                                {{ autor.apellido_autor }}</a>
                                            {% endif %}
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </span>
                                    , &nbsp;{{ libro.n_paginas }} páginas
                                </p>
                                <a href="{% url 'ver_detalles_libro' libro.id_libro %}"><button class="py-2 my-2 ver_detalles_libro">Ver detalles</button></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="row text-center py-5">
                <h5>¡Vaya! Parece que no tienes libros!</h5>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        // Obtener la altura del menú
        var navbarHeight = document.querySelector('.menu').offsetHeight;
        // Calcular la altura mínima para el contenedor .busqueda
        var busquedaContainer = document.querySelector('.busqueda');
        var windowHeight = window.innerHeight;
        var minHeight = windowHeight - navbarHeight;

        // Aplicar la altura mínima al contenedor .busqueda
        busquedaContainer.style.minHeight = minHeight + 'px';
    });   

</script>
  

{% endblock %}